.image-1-icon,
.image-2-icon1 {
  position: absolute;
  object-fit: cover;
}
.image-2-icon1 {
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 50rem;
}
.image-1-icon {
  top: 30.063rem;
  left: 2.188rem;
  border-radius: 50px;
  width: 18.188rem;
  height: 6rem;
}
.come {
  color: #9eb4ae;
}
.welcome {
  position: absolute;
  top: 17.938rem;
  left: 0.7rem;
  line-height: 1.375rem;
  font-weight: 900;
  display: inline-block;
  width: 21.813rem;
  height: 4.006rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset);
  backdrop-filter: blur(4px);
  transform: rotate(0.3deg);
  transform-origin: 0 0;
}
.your {
  color: #afb5bb;
}
.span {
  color: #fff;
}
.im-your {
  position: absolute;
  top: 26.313rem;
  left: 1.688rem;
  font-size: 2.25rem;
  line-height: 1.375rem;
  font-weight: 900;
  display: inline-block;
  width: 11.313rem;
  height: 0.063rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset);
  backdrop-filter: blur(4px);
  color: #a3a7ac;
}
.icon3 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container3,
.state-layer3 {
  align-items: center;
  justify-content: center;
}
.state-layer3 {
  width: 4rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
}
.icon-container3 {
  border-radius: 16px;
  background-color: #e8def8;
  overflow: hidden;
  display: none;
  flex-direction: column;
}
.label-text3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 600;
}
.nav-item-11 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  gap: 0.25rem;
  color: #1d1b20;
}
.icon4 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
}
.icon-container4 {
  width: 2rem;
  border-radius: 16px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-text4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 500;
}
.nav-item-21 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  gap: 0.25rem;
}
.icon-container5,
.state-layer5 {
  height: 2rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.state-layer5 {
  width: 4rem;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
}
.icon-container5 {
  width: 2rem;
  border-radius: 16px;
}
.environment1 {
  margin: 0;
}
.navigation-bar1 {
  position: absolute;
  top: 45.188rem;
  left: 0;
  background-color: #f3edf7;
  width: 22.5rem;
  height: 4.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.5rem;
  box-sizing: border-box;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #49454f;
  font-family: Roboto;
}
.android-large-11 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 50rem;
  overflow: hidden;
  text-align: center;
  font-size: 3.75rem;
  color: #a9aeb5;
  font-family: Inter;
}
