.description,
.label {
  width: 15rem;
  position: relative;
  line-height: 140%;
  display: none;
  z-index: 0;
}
.description {
  color: #757575;
  z-index: 1;
}
.value {
  flex: 1;
  position: relative;
  line-height: 100%;
  z-index: 0;
}
.chevron-down-icon {
  width: 1rem;
  position: relative;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.english {
  font-weight: 600;
}
.english,
.hindi {
  position: relative;
  line-height: 140%;
}
.options {
  margin: 0 !important;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 1px 4px rgba(12, 12, 13, 0.05);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  z-index: 2;
}
.options,
.options1,
.select,
.select-field {
  justify-content: flex-start;
  gap: 0.5rem;
}
.select {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 2.563rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  position: relative;
  min-width: 15rem;
  z-index: 2;
}
.options1,
.select-field {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
}
.options1 {
  margin: 0 !important;
  top: 0.5rem;
  left: 0.5rem;
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 1px 4px rgba(12, 12, 13, 0.05);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: none;
  padding: 0.5rem;
  z-index: 3;
}
.select-field {
  top: 27rem;
  left: 1.688rem;
  width: 17.063rem;
  display: flex;
}
.description1,
.label1 {
  width: 15rem;
  position: relative;
  line-height: 140%;
  display: none;
}
.description1 {
  color: #757575;
}
.value2 {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.input {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 1rem;
  min-width: 15rem;
}
.error {
  width: 2.313rem;
  position: relative;
  line-height: 140%;
  display: none;
}
.input-field {
  position: absolute;
  top: 15.063rem;
  left: 1.688rem;
  width: 17.063rem;
  height: 3.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.value3 {
  width: 13rem;
  position: relative;
  line-height: 100%;
  display: none;
}
.input-field1,
.input1 {
  display: flex;
  justify-content: flex-start;
}
.input1 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  height: 2.563rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  min-width: 15rem;
}
.input-field1 {
  position: absolute;
  top: 20.313rem;
  left: 1.688rem;
  width: 17.063rem;
  height: 3.688rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.icon9 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container9,
.state-layer9 {
  align-items: center;
  justify-content: center;
}
.state-layer9 {
  width: 4rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
}
.icon-container9 {
  border-radius: 16px;
  background-color: #e8def8;
  overflow: hidden;
  display: none;
  flex-direction: column;
}
.label-text9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 600;
}
.nav-item-13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  gap: 0.25rem;
  color: #1d1b20;
}
.icon10 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
}
.icon-container10 {
  width: 2rem;
  border-radius: 16px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-text10 {
  width: 7.919rem;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 500;
  display: none;
}
.nav-item-23 {
  flex: 1;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  box-sizing: border-box;
  gap: 0.25rem;
}
.icon-container11,
.state-layer11 {
  height: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.state-layer11 {
  width: 4rem;
  display: none;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
}
.icon-container11 {
  width: 2rem;
  border-radius: 16px;
  display: flex;
}
.environment3 {
  margin: 0;
}
.nav-item-33 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  gap: 0.25rem;
}
.environment-detection,
.navigation-bar3,
.translation {
  position: absolute;
  font-size: 0.75rem;
  font-family: Roboto;
  text-align: center;
}
.navigation-bar3 {
  top: 45.25rem;
  left: -1.062rem;
  background-color: #f3edf7;
  width: 25.75rem;
  height: 5.688rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.5rem;
  box-sizing: border-box;
  gap: 0.5rem;
  color: #49454f;
}
.environment-detection,
.translation {
  top: 46.125rem;
  left: 16.125rem;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 500;
  color: #000;
}
.translation {
  top: 46.188rem;
  left: 7.313rem;
  white-space: pre-wrap;
}
.image-2-icon3 {
  position: absolute;
  top: 3rem;
  left: 2.688rem;
  width: 10.688rem;
  height: 3.063rem;
  object-fit: cover;
}
.android-large-13 {
  width: 22.5rem;
  max-width: 100%;
  height: 50rem;
  overflow: hidden;
  background-image: url(./public/android-large--12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 1rem;
  color: #1e1e1e;
  font-family: Inter;
}
