.image-2-icon4 {
  height: 3.063rem;
  width: 10.688rem;
  position: relative;
  object-fit: cover;
}
.image-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2.687rem;
}
.description3,
.label3 {
  width: 15rem;
  position: relative;
  line-height: 140%;
  display: none;
}
.description3 {
  color: #757575;
}
.value4 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Inter;
  font-size: 1rem;
  background-color: transparent;
  height: 1rem;
  flex: 1;
  position: relative;
  line-height: 100%;
  color: #1e1e1e;
  text-align: left;
  display: inline-block;
  min-width: 9.063rem;
  padding: 0;
}
.input2 {
  height: 2.563rem;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0.937rem 0.75rem 1rem;
  min-width: 15rem;
}
.error2 {
  width: 2.313rem;
  position: relative;
  line-height: 140%;
  display: none;
}
.input-field2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.187rem;
  gap: 0.5rem;
}
.value5 {
  align-self: stretch;
  width: 13rem;
  position: relative;
  line-height: 100%;
  display: none;
}
.input-field-parent,
.input-field3,
.input3 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.input3 {
  height: 2.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  min-width: 15rem;
}
.input-field-parent,
.input-field3 {
  align-self: stretch;
  align-items: flex-start;
}
.input-field3 {
  flex-direction: row;
  padding: 0 0 1.187rem;
  gap: 0.5rem;
}
.input-field-parent {
  flex-direction: column;
  gap: 1.562rem;
}
.value6 {
  flex: 1;
  position: relative;
  line-height: 100%;
}
.chevron-down-icon1 {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.english1 {
  height: 1.375rem;
  font-weight: 600;
  display: inline-block;
}
.english1,
.hindi1 {
  position: relative;
  line-height: 140%;
}
.options2,
.select1 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.options2 {
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 1px 4px rgba(12, 12, 13, 0.05);
  display: none;
  flex-direction: column;
  padding: 0.375rem 0.375rem 0.375rem 0.5rem;
}
.select1 {
  height: 2.563rem;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0.75rem 0.687rem 0.75rem 1rem;
  min-width: 15rem;
}
.value7 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.options3 {
  box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 1px 4px rgba(12, 12, 13, 0.05);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.375rem 0.5rem;
  gap: 0.5rem;
}
.select-field1 {
  align-self: stretch;
  height: 2.5rem;
  flex-direction: row;
  gap: 0.5rem;
}
.android-large-1-inner,
.frame-parent,
.select-field1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: 3rem;
}
.android-large-1-inner {
  width: 20.438rem;
  height: 21.188rem;
  flex-direction: row;
  padding: 0 1.687rem 6.75rem;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 1rem;
  color: #1e1e1e;
  font-family: Inter;
}
.icon12 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container12,
.state-layer12 {
  align-items: center;
  justify-content: center;
}
.state-layer12 {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1.25rem;
}
.icon-container12 {
  border-radius: 16px;
  background-color: #e8def8;
  overflow: hidden;
  display: none;
  flex-direction: column;
}
.nav-item-label {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 600;
}
.nav-item-14 {
  width: 7.919rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem 0 1rem;
  box-sizing: border-box;
  gap: 0.25rem;
  color: #1d1b20;
}
.icon13 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.icon-container13 {
  width: 2rem;
  height: 2rem;
  border-radius: 16px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-text12 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 500;
  display: none;
}
.nav-item-24,
.state-layer14 {
  display: none;
  align-items: center;
  justify-content: center;
}
.nav-item-24 {
  height: 5rem;
  flex: 1;
  flex-direction: column;
  padding: 0.75rem 0 1rem;
  box-sizing: border-box;
  gap: 0.25rem;
}
.state-layer14 {
  flex-direction: row;
  padding: 0.25rem 1.25rem;
}
.environment5 {
  margin: 0;
}
.nav-item-34,
.navigation-bar4 {
  display: flex;
  box-sizing: border-box;
}
.nav-item-34 {
  height: 3.75rem;
  width: 7.919rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0 1rem;
  gap: 0.25rem;
}
.navigation-bar4 {
  margin-left: -1.063rem;
  width: 25.75rem;
  background-color: #f3edf7;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0.5rem 1.937rem;
  flex-shrink: 0;
  max-width: 115%;
  gap: 1.25rem;
  color: #49454f;
}
.environment-detection1,
.translation1 {
  position: absolute;
  margin: 0 !important;
  letter-spacing: 0.5px;
  line-height: 1rem;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.environment-detection1 {
  width: 4.625rem;
  top: 0.875rem;
  right: 1.75rem;
}
.translation1 {
  width: 5.25rem;
  top: 0.938rem;
  left: 7.313rem;
  white-space: pre-wrap;
}
.android-large-14,
.navigation-bar-parent {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation-bar-parent {
  align-self: stretch;
  height: 4.75rem;
  flex-direction: row;
  padding: 0;
  position: relative;
  text-align: center;
  font-size: 0.75rem;
  color: #000;
  font-family: Roboto;
}
.android-large-14 {
  width: 22.5rem;
  overflow: hidden;
  flex-direction: column;
  padding: 3rem 0 0;
  gap: 9rem;
  background-image: url(./public/android-large--13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
